.scroll-down {
    position: fixed;
    bottom: 80px; /* Adjust as needed to position the arrow below the center of the text */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}


.scroll-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    animation: scroll-bounce 1s infinite;
    margin-bottom: 5px;
}

@keyframes scroll-bounce {
    0% {
        transform: translateY(0) rotate(45deg);
    }
    50% {
        transform: translateY(10px) rotate(45deg);
    }
    100% {
        transform: translateY(0) rotate(45deg);
    }
}
